<p>Dear <%= @user.full_name %>,</p>
<p>Welcome to Our Application</p>

<p>Your account has been setup.  To login,  please visit our site and use the following information:<br />
  Your Login: <%= @user.login %><br />
  Your Password: <%= @user.password %><br />
</p>
<p>Sincerely,<br />
  The Administrator</p>