<p>Dear <%= @user.full_name %>,</p>
<p>You have requested to reset your password.</p>
<p>Your login: <%= @user.login %><br />
  To reset your password, please follow the link below:<br />
  <%= edit_forgot_password_url(@user.perishable_token) %>
</p>
<p>Sincerely,<br />
  The Administrator</p>